.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #445162;
  padding: 50px 50px 55px 50px;
  box-sizing: border-box;
}

.header:after {
  content: "";
  display: block;
  clear: both;
}

.header-wrap {
  float: left;
}

.header1 {
  font: 400 45px "Arial";
  line-height: 45px;
  color: #fff;
  margin: 0 0 45px 0;
}

.header-list {
  font: 400 17px "Arial";
  color: #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list li {
  padding: 0 0 13px 0;
}

.header-list li::before {
  content: "";
  display: inline-block;
  width: 25px;
  min-height: 19px;
  background-image: url(../img/checkicon.png);
  margin: 0 11px 0 0;
}

.header-img {
  float: right;
}

.about-product {
  width: 100%;
  background-color: #fff;
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
}

.about-product::after {
  content: "";
  display: block;
  clear: both;
}

.about-product-wrapper {
  width: 650px;
  float: left;
}

.header2 {
  font: 400 30px "Arial";
  color: #445162;
  margin: 0 0 32px 0;
}

.about-product-text {
  text-align: left;
  font: 400 16px/24px "Arial";
  color: #333;
}

.about-product-video {
  float: right;
}

.product-pluses {
  width: 100%;
  background-color: #f5f5f5;
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
}

.product-pluses::after {
  content: "";
  display: block;
  clear: both;
}

.pluses-header {
  font: 400 30px "Arial";
  color: #445162;
  width: 360px;
  margin: 0 auto 30px auto;
}

.pluses-list {
  list-style-type: none;
  font: 400 16px/24px "Arial";
  color: #333;
  margin: 0;
  padding: 0;
}

.pluses-list li {
  width: 570px;
  text-align: left;
  display: block;
  float: left;
  margin: 0 18px 33px 0;
}

.pluses-list li::before {
  content: "";
  display: block;
  float: left;
  width: 32px;
  height: 60px;
  background-image: url(../img/plusicon.jpg);
  background-repeat: no-repeat;
  margin: 5px 10px 0 0;
}

.screenshots {
  width: 100%;
  background-color: #fff;
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
}

.screenshots::after {
  content: "";
  display: block;
  clear: both;
}

.screenshots-header {
  font: 400 30px "Arial";
  color: #445162;
  width: 160px;
  margin: 0 auto 30px auto;
}

.screenshot {
  width: 580px;
  margin: 0 10px 30px 0;
  float: left;
}

.screenshot-img {
  float: left;
  margin: 2px 14px 0 0;
}

.screensh-figure-header {
  font: 400 24px/24px "Arial";
  color: #445161;
  margin: 0 0 10px 0;
}

.screensh-figure-text {
  font: 400 16px/24px "Arial";
  color: #333;
  margin: 0;
}

.reviews {
  width: 100%;
  background-color: #f5f5f5;
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
}

.reviews::after {
  content: "";
  display: block;
  clear: both;
}

.reviews-header {
  width: 110px;
  font: 400 30px "Arial";
  color: #445162;
  margin: 0 auto 30PX auto;
  font: 400 30px/36px "Arial";
}

.review-wrapper {
  float: left;
  margin: 0 10px 25px 0;
}

.review-wrapper::before {
  content: "";
  display: inline-block;
  width: 75px;
  min-height: 75px;
  position: relative;
  left: 10px;
  bottom: 37px;
  background-image: url(../img/userpic.png);
}

.review-wrapper-2 {
  display: inline-block;
  width: 500px;
}

.review-wrapper-2::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  right: -6px;
  bottom: 63px;
  border: 12px solid transparent;
  border-right: 12px solid #ebebeb;
}

.review {
  width: 470px;
  box-sizing: border-box;
  background-color: #ebebeb;
  padding: 15px 15px 15px 15px;
  display: inline-block;
}

.review-text {
  font: italic 400 14px/18px "Arial";
  color: #333;
  margin: 0 0 15px 0;
}

.review-author {
  font: 400 14px/18px "Arial";
  color: #989898;
}

.buy {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
}

.buy-header {
  width: 100%;
  text-align: center;
  font: 400 30px/36px "Arial";
  color: #445161;
}

.buy-wraper {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.buy-standart {
  width: 300px;
  background-color: #445162;
  border-radius: 5px;
}

.buy-premium {
  width: 300px;
  background-color: #445162;
  border-radius: 5px;
}

.buy-lux {
  width: 300px;
  background-color: #445162;
  border-radius: 5px;
}

.header-buy {
  width: 100%;
  text-align: center;
  font: 400 24px/30px "Arial";
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

.price {
  display: block;
  width: 100%;
  text-align: center;
  font: 400 40px/30px "Arial";
  color: #445162;
  background-color: #fff;
  margin: 0 0 20px 0;
  padding: 15px 0;
  border: 2px solid #445162;
  box-sizing: border-box;
}

.buy-list-options {
  margin: 0 0 20px 20px;
  padding: 0;
  list-style-position: inside;
  font: 400 14px/24px "Arial";
  color: #fff;
}

.buy-button {
  display: block;
  background-color: #fff;
  font: 700 18px/18px "Arial";
  text-transform: uppercase;
  color: #445162;
  width: 260px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 0;
  margin: 0 auto 20px auto;
}


.footer {
  width: 100%;
}

.contacts {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445162;
}

.contacts::after {
  content: "";
  display: block;
  clear: both;
}

.footer-header {
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
  font: 400 30px/36px "Arial";
  color: #fff;
}

.contacts-form {
  width: 500px;
  margin: 0 0 0 200px;
  float: left;
}

.contacts-input-name {
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 20px 0;
  padding: 5px 10px 5px 10px;
  width: 500px;
  font: 400 16px/24px "Arial";
  color: #445162;
}

.contacts-input-email {
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 20px 0;
  padding: 5px 10px 5px 10px;
  width: 500px;
  font: 400 16px/24px "Arial";
  color: #445162;
}

.contacts-textarea {
  display: block;
  width: 500px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 0 20px 0;
  padding: 5px 10px 5px 10px;
  resize: none;
  font: 400 16px/24px "Arial";
  color: #445162;
}

.contacts-button {
  display: block;
  box-sizing: border-box;
  width: 140px;
  min-height: 40px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font: 700 16px/24px "Arial";
  color: #445162;
  text-transform: uppercase;
}

.contacts-links {
  width: 250px;
  margin: 0 180px 0 50px;
  float: right;
}

.contacts-skype-link {
  display: block;
  text-decoration: none;
  font: 400 16px/24px "Arial";
  margin: 0 0 20px 0;
  color: #fff;
}

.contacts-skype-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  min-height: 26px;
  position: relative;
  bottom: -5px;
  margin: 0 6px 0 0;
  background-image: url(../img/skypeicon.png);
}

.contacts-icq-link {
  display: block;
  text-decoration: none;
  margin: 0 0 20px 0;
  font: 400 16px/24px "Arial";
  color: #fff;
}

.contacts-icq-link::before {
  content: "";
  display: inline-block;
  width: 26px;
  min-height: 26px;
  position: relative;
  bottom: -5px;
  margin: 0 6px 0 0;
  background-image: url(../img/icqicon.png);
}

.contacts-email-link {
  display: block;
  text-decoration: none;
  margin: 0 0 20px 0;
  font: 400 16px/24px "Arial";
  color: #fff;
}

.contacts-email-link::before {
  content: "";
  display: inline-block;
  width: 22px;
  min-height: 22px;
  position: relative;
  bottom: -5px;
  margin: 0 6px 0 0;
  background-image: url(../img/emailicon.png);
}

.contacts-phone-link {
  display: block;
  text-decoration: none;
  margin: 0 0 30px 0;
  font: 400 16px/24px "Arial";
  color: #fff;
}

.contacts-phone-link::before {
  content: "";
  display:inline-block;
  width: 24px;
  min-height: 23px;
  position: relative;
  bottom: -5px;
  margin: 0 6px 0 0;
  background-image: url(../img/phoneicon.png);
}

.twitter-link {
  display: inline-block;
  width: 43px;
  min-height: 42px;
  background-image: url(../img/twitter-icon.png);
}

.fb-link {
  display: inline-block;
  width: 43px;
  min-height: 42px;
  background-image: url(../img/fb-icon.png);
}

.in-link {
  display: inline-block;
  width: 43px;
  min-height: 42px;
  background-image: url(../img/in-icon.png);
}

.g-link {
  display: inline-block;
  width: 43px;
  min-height: 42px;
  background-image: url(../img/g-icon.png);
}

.youtube-link {
  display: inline-block;
  width: 43px;
  min-height: 42px;
  background-image: url(../img/youtube-icon.png);
  background-repeat: no-repeat;
}

.copyright {
  width: 100%;
  background-color: #f5f5f5;
}

.copy{
  display: block;
  width: 100%;
  text-align: center;
  font: 400 12px/26px "Arial";
  color: #445162;
}